/* Header.css */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    font-size: 1.5rem;
  }
  
  .header-container a {
    text-decoration: none;
    color: red;
  }
  
  .header-container a:hover {
    color: #ff0000;
  }
  
  .header-container .fa-search {
    font-size: 24px;
  }
  
  /* Add additional styles as needed for customizing the header */
  